/* O seletor "font-family" não é válido e deve ser substituído por um seletor apropriado */
* {
  font-family: 'Arial, sans-serif';
  font-size: 16px;
}

body {
  background-color: #000000;
}

main {
  background-color: #28282e;
  width: 500px; /* Adicionado o ponto e vírgula (;) */
  margin: 30px auto; /* Adicionado o ponto e vírgula (;) */
  padding: 10px; /* Adicionado o ponto e vírgula (;) */
  box-shadow: 3px 3px 5px rgba(1, 26, 253, 0.143); /* Corrigido o valor do alfa para estar entre 0 e 1 */
}